.horizontal-center {
    width: 100%;
    min-height: 100vh;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .horizontal-center-galery{
    width: 100%;
    min-height: 100vh;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: flex-start;
  }

  .gal-reset{
    min-height: 0;
    padding-top:50px;
  }
  .limit40 {
    max-width: 250px;
  }

  .moving {
    max-width: 300px;
    min-height: 300px;
    position: relative;
    border-radius: 100%;
  }

  .moving .image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: morph 8s ease-in-out infinite 1s;
    background-blend-mode: multiply;
    -webkit-box-shadow: inset 0px 0px 0px 9px rgb(255 255 255 / 30%);
    -moz-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 0px 9px rgb(255 255 255 / 30%);

  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }


  h1{
    color: #3a424c;
    font-size:3em;
    font-weight: 900;
  }
  .sub-header{
      font-size:1.35em;
  }

  .social img{
    width: 21px;
    height: 21px;
  }
  .social-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social-menu li{
    display: inline-block;
    /* float: left; */
    padding: 10px 10px;
    margin:5px;
  }
  .social-menu li:first-child{
      margin:0; padding: 0;
  }

  #menu-desktop{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #menu-desktop  li {
    display: block;
    /* float: left; */
    margin:5px;
  }
  #menu-desktop  li a{
      color:#3a424c;
      text-decoration: none;
      transition: all .2s ease-in-out;
      font-size: 1.2em;
      text-align: right;

      position: relative;

  }
  #menu-desktop  li a:hover{
    font-size: 1.5em;
    color:#3a424c;
    /* transform: scale(2); */
    transition: all .2s ease-in-out;
    position: relative;
}

.navbar .nav-item{
    font-size: 1.2em;
    color:#3a424c;
}

.howithink h3{
    padding-top:30px;
    padding-bottom: 20px;
}